<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWoZAn4ValA6sYY9EAyo5E3bI6BQoVC7k</string>
	<key>GCM_SENDER_ID</key>
	<string>567940150908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.migu</string>
	<key>PROJECT_ID</key>
	<string>migu-8983a</string>
	<key>STORAGE_BUCKET</key>
	<string>migu-8983a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567940150908:ios:f0fb3eed73d502b2023bf9</string>
</dict>
</plist>